body {
    background-color: rgb(41, 39, 39);
    font-family: "Raleway", sans-serif;
    color: #e1e7ec;
    text-align: center;
    background: url(https://images.pexels.com/photos/247676/pexels-photo-247676.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)center center / cover no-repeat fixed;
}

.game-area {
    background-color: #eff2f3;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.character-button {
    border: none;
    height: 25%;
    width: 25%;
}

.score-area {
    position: relative;
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}