html {text-align: center;
    align-content: center;
    min-width: 70%;
    max-width: 200%;
}

#main{font:normal 16px;
     font-size:100%; 
     font-family: Arial, Helvetica, sans-serif;
     margin-left:auto;
     margin-right:auto;
     width: 950px;
     padding-top: 15px; padding-bottom: 15px;
     padding-left: 15px; padding-right: 15px;
     align-content: center;
     background-color: rgb(242, 248, 255);
    }


header {color: white;
    background-color: rgb(11, 6, 73);
    padding-top: 5px; padding-bottom: 5px;
    } 

.buttons {
    color:white;
    background-color: rgb(11, 6, 73);
    font-weight: bold;
    content: 30px;
    margin: 40px;
    padding: 16px;
    border: 5px;


}    

h1 {color: white;
    text-transform: uppercase;} 
    
h2 {color: white;
    background-color: rgb(11, 6, 73);
    text-decoration: bold; }
h3 {color: rgb(0, 0, 0);}

.education {
    
    margin-left:auto;
    margin-right:auto;
    align-content: center;
    border-collapse: collapse;
    width: 100%;
    font-size: small;
    background-color: white;
}

th {
    text-align: left;
    padding: 8px;
}

tr, td {
    padding: 8px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
}

.work-experience {
    
    margin-left:auto;
    margin-right:auto;
    align-content: center;
    border-collapse: collapse;
    width: 100%;
    font-size: small;
    background-color: white;
    }

#Contact-list {
    margin-left:auto;
    margin-right:auto;
    border: 15px;
    text-align:left;
    align-content: left;
    background-color: white;
    width: 33%;
}

.interests {
    align-content: left;
}

footer {
    margin-top: 70px;
    color: white;
    border: 10px;
    background-color: rgb(11, 6, 73);
    text-align: center;
    padding-top: 15px; padding-bottom: 15px;
}

footer p{color:#ffffff;
text-align: center;
font-weight: bold;
}

footer > a {
	color: White;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;}






@media screen and (
max-width: 768px) {body{
    width: 90%;
    }
    }
    body{padding: 5px;
    margin-left: 2px;
    margin-right:2px;
    margin-top:2px;
    margin-bottom:2px;
    font-size: 80%;
    width: 50%;
    align-content:center;    
}
